.monitoring-title {
  font-weight: 500;
}

.monitoring-label {
  font-size: 12px;
  font-weight: 500;

  color: var(--gray);
}

.monitoring-value {
  font-size: 12px;
}

.display-wrapper {
  margin-top: 4px;
  padding: 16px 12px;

  border-radius: 4px;

  background-color: var(--white);
}
